.App {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: visible;
}

.App-logo {
  animation: bigger 1 2s linear forwards;
  width: 60vw;
  max-width: 350px;
  pointer-events: none;
}

button {
  background-color: gold;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}

p {
  font-size: 20px;
}

@keyframes bigger {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
